# Data Types

### Integers

In [180]:
x = 1

In [181]:
x

1

### Strings

In [182]:
x = 'Sufian'

In [183]:
x

'Sufian'

In [184]:
y = 'Mavee'
y

'Mavee'

In [1]:
var = 'Himalaya'
var

'Himalaya'

### Lists

In [186]:
lists = ["Sufian","25678",20,79.8]

In [187]:
lists[-4]

'Sufian'

### Dictionaries

In [188]:
dicts = {"Name":"Sufian","Class":"Bs","Age":20}

In [189]:
dicts['Name']

'Sufian'

### Tuple

In [190]:
tup = ("Sufian","25678",20,79.8)

In [191]:
lists.append(20)
print(lists)

['Sufian', '25678', 20, 79.8, 20]

### Manipulating Lists, Dicts and Tuples

In [192]:
lists[0] = "Mujahid"

In [193]:
lists

['Mujahid', '25678', 20, 79.8, 20]

In [194]:
dicts['Name'] = 'Mujahid'

In [195]:
dicts

{'Name': 'Mujahid', 'Class': 'Bs', 'Age': 20}

In [196]:
#yeh mainy set bnaya hai
sets = {"Sufian","25678",20,79.8,20}
sets

{20, '25678', 79.8, 'Sufian'}

In [197]:
x = 'who'
x

'who'

In [198]:
y = 'you'
y

'you'

In [199]:
lists = ['ahmed','one','first','good']
lists

['ahmed', 'one', 'first', 'good']

In [200]:
lists[0]

'ahmed'

In [201]:
lists[3]

'good'

In [202]:
dicts = {'name':'Francis','Class':'mutant','Status':'dead'}
dicts

{'name': 'Francis', 'Class': 'mutant', 'Status': 'dead'}

In [203]:
dicts

{'name': 'Francis', 'Class': 'mutant', 'Status': 'dead'}

In [204]:
dicts['Status']

'dead'

In [205]:
dicts['Class']

'mutant'

In [206]:
sets = {"mujahid","7499",19}
sets

{19, '7499', 'mujahid'}

In [208]:
sets

{19, '7499', 'mujahid'}

In [209]:
#main einstein hun
sets

{19, '7499', 'mujahid'}

In [217]:
lists
lists.append('Bad')
print(lists)

['ahmed', 'one', 'first', 'good', 'Bad']

In [218]:
lists.remove('ahmed')
print(lists)

['one', 'first', 'good', 'Bad']

In [219]:
tups = ('ahmed', 'one', 'first', 'good', 'Bad')
tups

('ahmed', 'one', 'first', 'good', 'Bad')

In [220]:
tups[1]

'one'

In [222]:
tups[1] = 'two'
tups

TypeError: 'tuple' object does not support item assignment