# Data Collections

- Python has four types of Data Collections/ Complex Data Types
    * Lists
    * Tuples
    * Sets
    * Dictionaries
   
 We are going to study each of them a little bit

## Lists

In [56]:
#Creation
mylist = ['Naruto', 'Itachi', 'Kushina','Minato','Sakura','Sasuke']
mylist

['Naruto', 'Itachi', 'Kushina', 'Minato', 'Sakura', 'Sasuke']

In [57]:
#Accessing Elements
print(mylist[0])
print(mylist[1:])
print(mylist[::2])

Naruto
['Itachi', 'Kushina', 'Minato', 'Sakura', 'Sasuke']
['Naruto', 'Kushina', 'Sakura']

In [58]:
#Mutating Lists
#changing item value
mylist[0] = 'Naruto Uzumaki'
print(mylist)

# adding more item
mylist.append('Hashirama')
print(mylist)

#removing last item
mylist.pop()
print(mylist)
#pass index to pop desired item
mylist.pop(-1)
print(mylist)
#deleting item of choice
del(mylist[-1])
print(mylist)

['Naruto Uzumaki', 'Itachi', 'Kushina', 'Minato', 'Sakura', 'Sasuke']
['Naruto Uzumaki', 'Itachi', 'Kushina', 'Minato', 'Sakura', 'Sasuke', 'Hashirama']
['Naruto Uzumaki', 'Itachi', 'Kushina', 'Minato', 'Sakura', 'Sasuke']
['Naruto Uzumaki', 'Itachi', 'Kushina', 'Minato', 'Sakura']
['Naruto Uzumaki', 'Itachi', 'Kushina', 'Minato']

In [59]:
#Concatination
mynewlist = ['Mikasa', 'Levi']
mylist + mynewlist

['Naruto Uzumaki', 'Itachi', 'Kushina', 'Minato', 'Mikasa', 'Levi']

In [60]:
#Sorting
anotherlist = ['a','f','c','d','e','b']
anotherlist.sort()
anotherlist

['a', 'b', 'c', 'd', 'e', 'f']

In [61]:
len(anotherlist)

6

In [62]:
#reverse list
anotherlist.reverse()
anotherlist

['f', 'e', 'd', 'c', 'b', 'a']

## MultiDimensional Lists

In [63]:
#Creationn
m_list = [[1,2,3],['a','b','c']]
print(m_list)

#Accessing
m_list[0][2]

[[1, 2, 3], ['a', 'b', 'c']]

3

In [69]:
x_list = [0,1,2,3,4,5]
if 2 is x_list[2]:
    print('False')

False

In [70]:
a=[1,2,3,4,5,6,7,8,9]
print(a[::2])

[1, 3, 5, 7, 9]

In [71]:
a=[1,2,3,4,5,6,7,8,9]
a[::2]=10,20,30,40,50
a

[10, 2, 20, 4, 30, 6, 40, 8, 50]

In [72]:
a=[1,2,3,4,5]
print(a[3:0:-1])

[4, 3, 2]

In [73]:
fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']
fruit_list2 = fruit_list1
fruit_list3 = fruit_list1[:]
fruit_list3

['Apple', 'Berry', 'Cherry', 'Papaya']

In [75]:
fruit_list3[-1:]

['Papaya']

In [2]:
x=3
type(lambda x : x+1)

function