# Python From Scratch

In [1]:
# Print Hello World!
print("Hello, World!")

Hello, World!

### Data types

In [10]:
a = 10
a

10

In [5]:
a = 'Abbasi'
a

'Abbasi'

In [7]:
a = 4.0
b = float(4)
b

4.0

### Array/List

In [13]:
arr = [1,2,3,4,5,6]
type(arr)

list

In [14]:
arr[0] = 7
arr

[7, 2, 3, 4, 5, 6]

In [15]:
arr[-1]

6

In [16]:
arr.append(8)
arr

[7, 2, 3, 4, 5, 6, 8]

In [17]:
arr.pop()
arr

[7, 2, 3, 4, 5, 6]

In [22]:
arr.remove(3)

In [24]:
del arr[0]

In [25]:
arr

[2, 4, 5]

In [28]:
st = 'my name'

In [30]:
st.add(st,'mavee')

AttributeError: 'str' object has no attribute 'add'

In [42]:
a = [1,2,3]
b = ['1','2',6,'89',23,434,'43',32,'eww']

In [43]:
a.append(b)

In [44]:
a

[1, 2, 3, ['1', '2', 6, '89', 23, 434, '43', 32, 'eww']]

In [45]:
a.extend(b)

In [46]:
a

[1,
 2,
 3,
 ['1', '2', 6, '89', 23, 434, '43', 32, 'eww'],
 '1',
 '2',
 6,
 '89',
 23,
 434,
 '43',
 32,
 'eww']

In [49]:
xls = list(range(0,11))

In [50]:
xls

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Tuple

In [56]:
e = (1,2,3,4,5,6,'hjs')
e

(1, 2, 3, 4, 5, 6, 'hjs')

In [53]:
type(e)

tuple

In [55]:
e[0]

1

### Dictionary

In [57]:
d = {'name':'Abbasi','age':'24'}
print(d)
print(type(d))

{'name': 'Abbasi', 'age': '24'}
<class 'dict'>

In [59]:
d['name'] = 123
d

{'name': 123, 'age': '24'}

In [60]:
del d['name']
d

{'age': '24'}

In [62]:
d['class'] = 'Bsc'
d

{'age': '24', 'class': 'Bsc'}

### Sets

In [64]:
c = [1,2,3,4,56,1,2,3,4]
x = set(c)
print(x)

{1, 2, 3, 4, 56}

In [70]:
x = {1,2,3,4,4,2}
print(x)
print(type(x))

{1, 2, 3, 4}
<class 'set'>

In [73]:
x.remove(3)
x

{1, 2, 4}

In [74]:
x.pop()

1

In [75]:
x

{2, 4}