# Python : Types and Sequences

In [1]:
print('this is a string')
print(type('this is a string'))

this is a string
<class 'str'>

In [2]:
statement = 'Hello Love'
x = len(statement)
for s in statement:
    print(statement[x-1])
    x = x-1

e
v
o
L

o
l
l
e
H

In [3]:
x = 1
y = 3
x + y

4

In [4]:
def add(a,b):
    print(a+b)
add(x,y)

4

In [5]:
def add ( a, b, c= None):
    if (c == None):
        #print(a+b)
        return a + b
    else:
        #print(a+b+c)
        return a+ b+ c
print(add(1,3))
print(add(1,3,5))
print(type(add))

4
9
<class 'function'>

In [6]:
def add( x, y, z = None, flag = False):
    if(flag):
        return 'flag is true'
    if ( z == None):
        return x + y
    else:
        return x + y+ z
    
print(add(1, 2, flag = True))

flag is true

In [7]:
x = (1, 'a')
type(x)

tuple

In [8]:
#Immutability of Tuples
del(x[1])

TypeError: 'tuple' object doesn't support item deletion

In [9]:
y = [1,'a',2]
type(y)

list

In [10]:
y[1] = 'b'
y[0] = 'z'
y.append(0)
print(y)

['z', 'b', 2, 0]

In [11]:
print(statement)
print(statement[0:2])
print(statement[0:1])

Hello Love
He
H

In [12]:
print(statement[:-3])
print(statement[-3:])
print(statement[::-1])

Hello L
ove
evoL olleH

In [13]:
firstname = "Christopher"
lastname = "Lopez"

print(firstname + ' ' + lastname)
print('Christ' in firstname)

Christopher Lopez
True

In [14]:
first = 'Senju'.split(' ')[0]
print(first)
# it creates a  list of all three splits and then we output the 0 index value

Senju

In [15]:
x = {'name' : 'Senju', 'nick': 'cool', 'email':'senju@hotmail.com'}

In [16]:
x['name']

'Senju'

In [17]:
x[name]

NameError: name 'name' is not defined

In [18]:
x['spouse'] = 'Uzumaki'
print(x)

{'name': 'Senju', 'nick': 'cool', 'email': 'senju@hotmail.com', 'spouse': 'Uzumaki'}

In [19]:
del(x['spouse'])
x

{'name': 'Senju', 'nick': 'cool', 'email': 'senju@hotmail.com'}

In [20]:
for keys in x:
    print(x[keys])

Senju
cool
senju@hotmail.com

In [21]:
for keys in x:
    print(keys)

name
nick
email

In [22]:
for keys, values in x.items():
    print(keys)
    print(values)

name
Senju
nick
cool
email
senju@hotmail.com

In [23]:
y = ('senju', 'hashirama','senju@hotmail.com')
fname , lname , email = x

In [24]:
print(fname)

name

In [26]:
y = ('senju', 'hashirama','senju@hotmail.com')
fname , lname, email = x

In [27]:
print(first + str(3))
print(first + 2)

Senju3

TypeError: can only concatenate str (not "int") to str

# Time and Dates

In [28]:
import datetime as dt
import time as tm

In [29]:
tm.time()

1577336161.6950662

In [30]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2019, 12, 26, 9, 56, 3, 688223)

In [31]:
dtnow.year , dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2019, 12, 26, 9, 56, 3)

# Map Function

display title and last name of faculty members

In [32]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# Lambda Function

In [33]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

# list function

In [34]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True

In [35]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

correct_answer[:50] # Display first 50 ids

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']

In [36]:
['a','b','c'] + [1,2,3,4]

['a', 'b', 'c', 1, 2, 3, 4]

In [37]:
abc = ['abc',1,2.3]
abc[2] = 4
abc[2]

4

In [38]:
efg = ("a","b",3)
efg

('a', 'b', 3)

In [39]:
dics = {3:4,5:6}

In [40]:
dics[3]

4

In [41]:
for key in dics:
    dics[key] = 'Hi'
    
dics

{3: 'Hi', 5: 'Hi'}

In [42]:
name = "Naruto"
for n in name:
    print(n)

N
a
r
u
t
o

In [43]:
x=  lambda name : name.split()
print(x(name))

['Naruto']